.cardcontainer{
    width: 10rem;
    height: 15rem;
    display: flex;
}
.cardcontainer:hover{
}
.cardimage{
    width: 90%;
    height: 9rem;
    margin-top: 1rem;
}
.cardinfo{
    width: 90%;
    height: 2rem;
    margin-top: 1rem;
}
.cardathor{
    margin-top: 1rem;
}