.navmain {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-bottom: 3px solid #3b3522;
  }
  
  .searchbar {
    position:initial;
    margin-left: -50%; /* Cambio aquí para alinearlo a la izquierda */
    width: calc(100% - 75%); /* Ajusta el ancho para que ocupe el espacio restante */
    border: 1px solid rgb(4, 12, 4);
    background-color: #ffffff; /* Agregado para que coincida con el fondo */
  }
  
  .navul {
    position: fixed;
    right: 0;
    width: 70%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
  }
  
  .navul li {
    color: black;
    width: 10%;
  }
  
  .navul li:hover {
    font-size: 125%;
    color: rgba(0, 0, 0, 0.603);
  }