.navmain{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #d8cca9;
    border-bottom: 3px solid #3b3522;
}
.searchbar{
    position: fixed;
    right: 0;
    width: 25%;
    border: 1px solid green;
}
.navul{
    position: fixed;
    right: 0;
    width: 70%;
    display: flex;
    align-content: center;
    align-items: center;
    /* justify-items: center; */
    justify-content: space-around;
    list-style-type: none;
}
.navul li{
    color: black;
    width: 10%;
}
.navul li:hover{
    font-size: 125%;
    color: rgba(0, 0, 0, 0.603);
}