.footcontainer{
    position: fixed;
    height: 3rem;
    bottom: 0;
    left: 0;
    right: 0;
    color: black;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(252, 252, 249);
    border: 1px solid black;
}
.footerlogo{
    width: 10%;
    height: 99%;
    border: 1px solid black;
}
.participantContainer{
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin: 0 20px;
}
.footul{
    width: 60%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.footertooltip{
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 3px;
    border-radius: .5rem;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}
.footli {
    width: 1rem;
    height: 1rem;
    list-style-type: none;
    margin: 0 5px; /* Añadido margen entre los iconos */
  }
.footli:hover{
    filter: drop-shadow(2px 2px 2px #ffffff);
}
.footli:hover .footertooltip {
    opacity: 1;
    visibility: visible;
}
.footli:not(:hover) .footertooltip {
    opacity: 0;
    visibility: hidden;
}