.carouselContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background: linear-gradient(to right, #c5bdf7, #a6a1e1);
    border-radius: 12px;
    overflow: hidden;
    margin-top: 2%;
    z-index: -1;
    backdrop-filter: blur(4px); 
  }
  
  .carouselItem {
    position: relative;
    width: 30%; /* Ajusta el ancho del recuadro */
    max-width: 300px; /* Ancho máximo del recuadro */
    margin: 0 auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    opacity: 0.8;
    z-index: -1;
    border-radius: 12px;
  }
  
  
  
  .carouselImage {
    width: 30%; /* Ajusta el tamaño de la imagen */
    height: auto;
    object-fit: contain;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-left: -170%;
  }

  .bookName {
    font-size: 45px; /* Tamaño de letra mediano */
    font-weight: bold;
    font-family: 'Arial', sans-serif; /* Cambia por la fuente que desees */
    color: rgb(243, 238, 238); /* Color del texto */
    text-align: left; /* Alineación del texto a la derecha */
    position: absolute;
    top: 50%;
    right: -150px; /* Ajusta esta distancia para el margen derecho */
    transform: translateY(-50%);
    width: 80%; /* Ajusta el ancho del contenedor de texto */
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
  padding: 5px 10px; /* Agrega un poco de espacio alrededor del texto */
  backdrop-filter: blur(4px); 
  white-space: normal; /* Permite el ajuste automático de líneas */
 
  max-lines: 2; /* Limita la cantidad de líneas */
 
    
  }
  
  /* Estilos para el carrusel */
  .carousel .control-dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .carousel .control-dots .dot {
    background: #888;
    margin: 0 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .carousel .control-dots .dot.selected {
    background: #333;
  }
  
