.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 0rem;
    min-height: 75vh;
    /* border: 1px solid rgb(131, 123, 123); */
}
.hometitle{
    margin-top: -9rem;
}
.popular{
    width: 90%;
    height: 17rem;
    display: flex;
    flex-direction: row;
    /* border: 1px solid grey; */
}
.popularpad{
    margin-right: 2rem;
}
.cards{
    width: 90%;
    height: 25rem;
}