.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    min-height: 75vh;
    /* border: 1px solid rgb(131, 123, 123); */
}
.hometitle {
    font-weight: bold; /* Letras en negrita */
    text-align: left; /* Alineación a un costado izquierdo */
    margin-top: 1rem;
    margin-left: -35rem;
    font-size: 1.5rem;
  }
.popular{
    font-weight: bold; /* Letras en negrita */
    text-align: left; /* Alineación a un costado izquierdo */
    margin-top: 1rem;
    margin-left: -52rem;
    font-size: 1.5rem;
}
.popularpad{
    margin-right: 2rem;
}
.cards{
    width: 90%;
    height: 25rem;
}