.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    min-height: 75vh;
    /* border: 1px solid rgb(131, 123, 123); */
}
.hometitle{
    position: absolute;
  left: 50px;
  top: 10%;
  font-weight: bold;
  font-size: 1.5rem;
}
.popular{
    width: 90%;
    height: 17rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    /* border: 1px solid grey; */
}
.popularpad{
   
    font-weight: bold;
  font-size: 1.5rem;
  left: 50px;
}
.cards{
    width: 90%;
    height: 25rem;
}